.about {
  padding: 8% 0;
  &__titel {
    @include title($color_2, 36px);
    text-align: center;
    font-weight:300px;
    @media (min-width: 320px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 26px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }

}
