.promo {
  background: url(../img/promo-bg.png) center/cover no-repeat;
  padding: 100px 0;
  height: 450px;
  width: 100%;
  @media (max-width: 480px) {
    background-color: $color_1;
 
  }
  @media (min-width: 768px) {
    padding: 100px 0;
    height: 750px;
  }
  @media (min-width: 1200px) {
padding: 100px 0;
height: 800px;
  } 
  &__titel {
    @include title($color_2, 36px, 200px);
    text-align: center;
    @media (min-width: 320px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 26px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
}
